html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body>div{
  width:70%;
  margin-left:auto;
  margin-right:auto;
}

#crt_header{
  height:15%;
}

#crt_vid_overlay{
  position:absolute;
  height:100%;
  overflow:hidden;
  right:0;
  top:0;
  background: rgba(255, 255, 255, 0.7);
  transition:all 1s ease;
}

#crt_vid_frame {
  position:relative;
  width:50%;
  height:50%;
  margin-left:15%;
  margin-top:15%;
}

#crt_map {
  height: 70%;
}

#crt_footer {
  height: 10%;
}

#slidein_button{
  height:100px;
  width:200px;
  margin-left:50px;
  font-size:3em;
  cursor:pointer;
}

.footnote{
  font-size:.8em;
}
.overlay{
  z-index: 100; /* don't set any z-index higher than this*/
}

.slideOut {
  width:100%;
}

.slideIn {
  width:0px;
}
